body {

  background-color: #000000;
font-family:  sans-serif;

}
.centrum
{
  padding: 10px 60px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  max-width: 768px;
  
  color: #000000;
  background-color: #fff;
}
header {
  border-bottom: 1px solid #222;
  color: #3e8fed;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Play", sans-serif;
  align-items: center;
  margin-bottom: 1rem;
}
img
{
  max-width: 768px;
}
ul
{
  align-self: center;
  margin-left: auto;
  padding-right: 33px;
  margin-right: auto;
  display: inline-flex;
}
.item_preview
{
  display: flex;
}
.title_preview
{
  min-width: 150px;
  max-width: 150px;
}
.title_cash
{
  font-size: 2.3em;
}
a.menuitem
{
  color: #fff;
}
h5{
  margin-left: 20px;
  min-width: 120px;
  margin-top: 30px;
  margin-right: 40px;
  padding-left: 25px;
}
nav
{
  text-transform: uppercase;
  font-size: 15pt;
}
li
{
  align-items: center;
  list-style-type: none;
  padding: 0 40px;
}
footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover
{
  color: #5c5c5c;
  text-decoration: none;
}